$system-size: 800px;
$planets: (
  "sun":     (0,     100px, #FEC163, #DE4313,   0deg,  .0, ()),
  "mercury": (196px,  16px, #ECF0F1, #95A5A6, 320deg, 3.2, ()),
  "venus":   (320px,  32px, #FAD7A1, #E96D71, 116deg, 1.2, ()),
  "earth":   (440px,  32px, #5EFCE8, #736EFE,  32deg, 1.0,
    ("moon":  (80px,  12px, #ECF0F1, #95A5A6,  45deg, 6.0))),
  "mars":    (620px,  24px, #CA4546, #6E312E, 223deg,  .3,
    ("phobos": (60px,  8px, #ECF0F1, #95A5A6,   0deg, 4.0),
     "deimos": (50px,  8px, #ECF0F1, #95A5A6, 120deg, 6.0))),
);

.solar-system {
  display: block;
  position: relative;
  width: $system-size;
  height: $system-size;
  margin: 0 auto;

  .orbit {
    position: absolute;
    border-radius: 50%;
    border-style: dashed;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.2);

    .planet {
      width: 100%;
      position: absolute;
      background-color: rgba(255, 0, 0, 0.2);

      &::before {
        content: "";
        display: block;
        position: relative;
        border-radius: 50%;
      }
    }

    .orbit {
      border-color: rgba(255, 255, 255, 0.1);

      .satellite {
        width: 100%;
        position: absolute;
        background-color: rgba(255, 0, 0, 0.2);

        &::before {
          content: "";
          display: block;
          position: relative;
          border-radius: 50%;
        }
      }
    }
  }

  @each $name, $details in $planets {
    .orbit.#{$name} {
      $orbit-size:         nth($details, 1);
      $planet-size:        nth($details, 2);
      $planet-color-start: nth($details, 3);
      $planet-color-end:   nth($details, 4);
      $planet-angle:       nth($details, 5);
      $planet-speed:       nth($details, 6);
      $planet-moons:       nth($details, 7);

      width: $orbit-size;
      height: $orbit-size;
      top: ($system-size - $orbit-size) / 2;
      left: ($system-size - $orbit-size) / 2;
      transform: rotate($planet-angle);

      .planet {
        height: $planet-size;
        top: ($orbit-size - $planet-size) / 2;
        animation: spin (40s / $planet-speed) linear infinite;

        &::before {
          width: $planet-size;
          height: $planet-size;
          right: $planet-size / 2;
          background-image: linear-gradient(
            135deg,
            $planet-color-start 0%,
            $planet-color-end 100%);
        }
      }

      @if length($planet-moons) > 0 {
        @each $moon-name, $moon-details in $planet-moons {
          .orbit.#{$moon-name} {
            $moon-orbit-size:  nth($moon-details, 1);
            $moon-size:        nth($moon-details, 2);
            $moon-color-start: nth($moon-details, 3);
            $moon-color-end:   nth($moon-details, 4);
            $moon-angle:       nth($moon-details, 5);
            $moon-speed:       nth($moon-details, 6);

            width: $moon-orbit-size;
            height: $moon-orbit-size;
            left: -$moon-orbit-size / 2;
            top: -($moon-orbit-size - $planet-size) / 2;
            transform: rotate($moon-angle);

            .satellite {
              width: 100%;
              height: $moon-size;
              top: ($moon-orbit-size - $moon-size) / 2;
              animation: spin (40s / $moon-speed) linear infinite;

              &::before {
                width: $moon-size;
                height: $moon-size;
                right: $moon-size / 2;
                background-image: linear-gradient(
                  135deg,
                  $moon-color-start 0%,
                  $moon-color-end 100%);
              }
            }
          }
        }
      }
    }
  }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
